/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    /*color: #383434;*/
	/*color: #4A8F58;*/
	/*color: #DCA62C;*/
	/*color: #F3F8F0;*/
	color: #3A696F;
    /*background: #E1BCA9;*/
    /*background: #FFF6BB;*/
    /*background: #EED3BE;*/
	/*background: #B1B2B4;*/
	/*background: #eee;*/
	padding-left: 5%;
	padding-right: 5%;
}

.container > header {
	width: 95.7%;
	/*max-width: 87em;*/
	margin: 0 auto;
	padding-top: 1.975em;
}

.container > header > a {
	color: #3A696F;
	text-decoration: none;
}

.container > header > a:visited {
 	color: #3A696F;	
} 

.container > header h1 {
	/*color: #EBE7DB;*/
	color: #3A696F;
	font-family: 'Exo', sans-serif;
	font-size: 2.125em;
	letter-spacing: .3em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > header > a > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #47a3da;
	background: #fff;
}

.container > header nav {
	float: right;
	text-align: center;
}


.container > header nav i {
	color: #00F8BD;
	font-size: 1.5em;
	margin-left: 10px;
}



@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > a > span,
	.container > header >a > h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		font-size: 0.7em;
		text-align: center;
	}
}


